{% extends 'base.html' %}

{% block content %}
<div class="card p-4">
    <h2 class="mb-4"><i class="fas fa-edit"></i> Edit Book </h2>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ book[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="author" value="{{ book[2] }}" required>
        </div>
        <div class="mb-3">
            <label for="Year" class="form-label">Publication Year</label>
            <input type="number" class="form-control" id="year" name="year" value="{{ book[3] }}">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" value="{{ book[4] }}">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save Changes</button>
        <a href="/" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
    </form>
</div>
{% endblock %}