{% extends 'base.html' %}

{% block content %}
<div class="card p-4">
    <h2 class="mb-4"><i class="fas fa-book"></i>Library Books</h2>
    {% if books %}
    <table class="table table-hover">
        <thread>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Genre</th>
            </tr>
        </thread>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
                <td>
                    <a href="{{ url_for('edit', book_id=book[0]) }}" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>Edit
                    </a>

                    <a href="{{ url_for('delete', book_id=book[0]) }}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are You Sure You Want To Delete This Book?')">
                        <i class="fas fa-trash"></i>Delete
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-muted">No Books available. <a href="/add">Add a Book</a></p>
    {% endif %}
</div>
{% endblock %}